.btn {
    font-size: 16px;
    background-color: #fff;
    border: #fff;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #212529;
    font-weight: 700;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 0 12px 0 0;
    text-transform: uppercase;

    &:hover {
        text-decoration: none;
        background: #414042;
        border-color: #414042;
        color: #fff;
    }

    &.reverse {
        font-size: 19px;
        line-height: 29px;
        border-radius: 10px;
        background-color: #414042;
        border-color: #414042;
        padding: 9px 27px;
        min-width: 150px;
        color: #fff;
        margin: 10px 0 5px 1rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

        &:hover {
            text-decoration: none;
            color: #414042;
            border-color: #414042;
            background: #fff;
        }
    }

    sup {
        position: relative;
        font-size: 9px;
        line-height: 0;
        font-weight: 500;
        vertical-align: baseline;
        top: -0.99em;
    }
}