.safeAndScientific {
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    .title {
        font-size: 44px;
        font-weight: 800;
        text-align: center;
        line-height: 1.25;
        letter-spacing: -.22px;
        margin: 0 0 30px;

        @media only screen and (max-width: 1199.98px) and (min-width: 992px) {
            font-size: 40px;
        }
    }

    .transplantBg {
        position: relative;

        .sectionBox {
            width: 64%;
            display: flex;
            flex-wrap: wrap;
            padding: 30px;
            position: absolute;
            top: 10%;

            @media only screen and (max-width: 1200px) and (min-width: 1025px) {
                position: absolute;
                top: 0%;
            }

            @media only screen and (max-width: 1024px) and (min-width: 768px) {
                position: absolute;
                top: 0%;
            }

            @media only screen and (max-width: 767px) {
                width: 100% !important;
                padding: 10px !important;
                align-items: center;
                row-gap: 20px;
                top: 5%;
            }

            @media only screen and (max-width: 400px) {
                position: absolute;
                top: 4%;
            }

            .section {
                text-align: center;
                padding: 0px 30px;
                width: 22.33%;

                .image12 {
                    width: 100%;

                    img {
                        padding: 10px;
                        max-width: 100%;
                        vertical-align: middle;
                        opacity: 1;
                        transition: opacity .3s;
                        border: 0;

                        @media only screen and (max-width: 1024px) and (min-width: 768px) {
                            padding: 10px;
                            width: 85px
                        }

                        @media only screen and (max-width: 767px) {
                            width: 60px;
                            padding: 0px;
                        }

                        @media only screen and (max-width: 400px) {
                            width: 40px;
                            padding: 0px;
                        }
                    }
                }

                .imgtext12 {
                    text-align: center;
                    font-size: 16px;
                    padding: 0px;
                    font-weight: 600;
                    letter-spacing: normal;
                    font-family: Nunito Sans, sans-serif;
                    color: #414042;

                    @media only screen and (max-width: 1024px) and (min-width: 768px) {
                        text-align: center;
                        font-size: 16px;
                        padding: 0px;
                        font-weight: 600;
                    }

                    @media only screen and (max-width: 767px) {
                        text-align: center;
                        font-size: 10px;
                        padding: 0px;
                        font-weight: 800;
                    }
                }
            }
        }
    }
}