.solution {
    position: relative;

    .title {
        text-transform: capitalize;
        font-size: 44px;
        font-weight: 800;
        line-height: 1.25;
        margin-bottom: 30px;
        text-align: center;
        z-index: 1;

        .textGreen {
            color: #95b266;
            height: auto;
            display: inline-block;
            overflow: hidden;
            vertical-align: top;
            position: relative;
        }
    }

    .container {
        width: 100%;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media (min-width: 576px) {
            max-width: 540px;
        }

        @media (min-width: 768px) {
            max-width: 720px;
        }

        @media (min-width: 992px) {
            max-width: 960px;
        }

        .imgSection {
            display: block;

            @media screen and (min-width: 768px) {
                display: none;
            }
        }

        .doctor_bottom_text {
            font-size: 24px;
            text-align: left;
        }
    }

    .imgSection {
        position: relative;
        width: 100%;
        padding: 15px;
        padding-right: 0;
        max-width: 50%;
        margin: -3rem 0 0 auto;
        display: block;

        @media screen and (max-width: 768px) {
            display: none;
        }

        img {
            max-width: 100%;
            border: 0;
            vertical-align: middle;
        }

        .caption {
            font-size: 1rem;
            letter-spacing: .07rem;
            line-height: calc(1 + .7 / 1.05);

            @media screen and (min-width: 750px) {
                font-size: 1.2rem;
            }

            h5 {
                color: #95b266;
                position: absolute;
                width: 170px;
                margin: 0 0 8px;
                letter-spacing: 0;
                font-size: 20px;
                font-family: fredoka_oneregular !important;

                &:first-child {
                    top: 51%;
                    left: 0;
                }

                &:nth-child(2) {
                    bottom: 21%;
                    left: 5%;
                }

                &:nth-child(3) {
                    bottom: 7%;
                    left: 11%;
                    width: 150px;
                }
            }
        }
    }

    .btn {
        pointer-events: auto;
        margin: 24px 0 0;
        padding: 9px 27px;
        cursor: pointer;

        a {

            font-size: 22px;

            &:hover {
                background: #b7d340;
                border-color: #b7d340;
                color: #fff;
            }
        }
    }
}